<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRZdbOsyN5qqUtoK0kudej1dHPLKAgz_k</string>
	<key>GCM_SENDER_ID</key>
	<string>847809894204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cicdDemo</string>
	<key>PROJECT_ID</key>
	<string>cicd-demo-73e7b</string>
	<key>STORAGE_BUCKET</key>
	<string>cicd-demo-73e7b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847809894204:ios:87fce784e9d875911cb039</string>
</dict>
</plist>